
{% extends 'initiatives/base.html' %}
{% block title %}المراسلات{% endblock %}

{% block body %}

    <div class="center">
        <h3 class="text-center" >صفحة المراسلات</h3>
        <br>
        <div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="list-group text-center">
  <li class="list-group-item d-flex justify-content-between align-items-center ">
    لاتوجد رسائل جديدة
    <span class="badge badge-danger badge-pill"></span>
  </li>

</ul>
    </div>
  </div>
</div>
    </div>

{% endblock %}